@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h1 {
  color: white;
  position: center;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
}


.gradient-text {
  background-image: linear-gradient(45deg, rgb(235, 206, 162),#282c34 );
  display:flex;
  box-shadow: 0 0 2px 2px rgba(249, 248, 248, 0.5);
}

.alert {
  margin:12% auto;
  padding: 20px;
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;
}

body {
  background-image: url('./images/orange-and-black.jpg'); 
  color: white;
  padding: 40px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-shadow: 2px 1px 2px black;
  text-overflow: clip;
}
.form-box{
  width: 500px;
  block-size: fit-content;
  overflow-wrap: break-word;
  position: relative;
  background: rgba(133, 132, 132, 0.8);
  margin:12% auto;
  padding: 50px 0;
  color:aliceblue;
  text-align: center;
  text-shadow: 1px 0.5px 1px rgba(239, 229, 229,0.5px);
  box-shadow: 0 0 2px 2px rgba(249, 248, 248, 0.5);
}

.input-box{
  display: flex;
  justify-content: space-between;
  margin: 31px auto;
  width: 80%;
  border-bottom: 1px solid white;
  padding-top: 10px;
  padding-bottom: 5px;
 }
 
 .input-box input{
 width: 90%;
 border:none;
 outline:none;
 background: transparent;
 color:white;
 
 }

.btn {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: linear-gradient(45deg, rgb(235, 206, 162),#282c34 );
  transition: .4s;
  cursor: pointer;
  border-radius: 5em;
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 1vw;
}

.btn:hover{
  background:  rgb(235, 206, 162);
}
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}


.customer-list{
  background-color: #282c34;
  text-shadow: 5px 2px 5px black;
  border: solid;
  border-radius: 5px;
}

.customer-item{
  display:'flex';
  justify-content:'space-between';
  padding-bottom: 2em;
}