h1 {
  color: white;
  position: center;
  font-family: 'Ruda', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: vw;
}

.gradient-text {
  background-image: linear-gradient(45deg, grey,rgb(255, 153, 0) );
  display:flex;
}

body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial , sans-serif;
  text-align: center;
  text-shadow: 2px 1px 2px black;
}
.form-box{
  width: 380px;
  height:400px;
  position: relative;
  background: rgba(0,0,0,0.8);
  margin:12% auto;
  padding: 50px 0;
  color:aliceblue;
  text-align: center;
  text-shadow: 1px 0.5px 1px rgba(239, 229, 229,0.5px);
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
}

.input-box{
  margin: 31px auto;
  width: 80%;
  border-bottom: 1px solid white;
  padding-top: 10px;
  padding-bottom: 5px;
 }
 
 .input-box input{
 width: 90%;
 border:none;
 outline:none;
 background: transparent;
 color:white;
 
 }

 .btn {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}


.customer-list{
  background-image: linear-gradient(45deg, grey,rgb(255, 153, 0) );
  text-shadow: 5px 2px 5px black;
  border: solid;
  border-radius: 5px;
}

.customer-item{
  display:'flex';
  justify-content:'space-between';
}